/** @format */
@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap");

:root {
	--Grayish-cyan: hsl(184, 14%, 56%);
	--Light-grayish-cyan: hsl(185, 41%, 84%);
	--Very-light-grayish-cyan: hsl(189, 41%, 97%);
	--Dark-grayish-cyan: hsl(186, 14%, 43%);
	--Very-dark-cyan: hsl(183, 100%, 15%);
	--Strong-cyan: hsl(172, 67%, 45%);
	--Red: hsl(0, 91%, 64%);
}

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	background-color: var(--Light-grayish-cyan);
}

h1 {
	margin: 0;
	font-size: 1rem;
}

.transitioned-state {
	transition: all 0.25s ease-in-out;
}

/* page header section */
.site-header {
	display: flex;
	align-items: center;
	justify-content: center;
	padding-block: 2.5rem;
}

/* main section */
main {
	margin-bottom: 2rem;
}

.main-section-container {
	background-color: white;
	border-radius: 1.5rem;
	padding: 1.5rem;
	font-family: "Space Mono", monospace;
	max-width: 383px;
	margin-inline: auto;
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

/* tip input and control form */
.form-inner-container {
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
}

.input-container {
	gap: 0.5rem;
}

.input-container,
.percent-buttons-container {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.input-container > :first-child,
.percent-buttons-container > :first-child {
	color: var(--Dark-grayish-cyan);
}

.input-inner-container {
	position: relative;
}

.input-inner-container::before {
	content: "";
	display: inline-block;
	position: absolute;
	left: 1rem;
	top: 50%;
	transform: translateY(-50%);
}

.bill-amount-input-container::before {
	background-image: url(./images/icon-dollar.svg);
	width: 11px;
	height: 17px;
}

.number-of-people-input-container::before {
	background-image: url(./images/icon-person.svg);
	width: 13px;
	height: 16px;
}

.number-input {
	text-align: right;
	font-family: "Space Mono", monospace;
	font-size: 24px;
	font-weight: 700;
	border: none;
	background-color: var(--Very-light-grayish-cyan);
	color: var(--Very-dark-cyan);
	padding: 0.3rem 1rem 0.3rem 1rem;
	border-radius: 0.3rem;
	width: 100%;
}

.number-input:is(:focus, :active) {
	outline: 2px solid var(--Strong-cyan);
}

.number-input.invalid,
.number-input.invalid:is(:focus, :active) {
	outline: 2px solid var(--Red);
}

.input-inner-container .error-message {
	position: absolute;
	top: calc(-16.67px - 0.5rem);
	/* to be updated dynamically */
	right: 0;
	font-size: 0.7rem;
	display: block;
	text-align: right;
	color: var(--Red);
	display: none;
}

.custom-percent-input-container .error-message {
	top: 44.92px;
}

.error-message.active {
	display: block;
}

.percent-buttons-container {
	border: none;
	padding: 0;
	margin: 0;
}

.percent-buttons-inner-container {
	display: grid;
	grid-template-rows: repeat(3, 1fr);
	grid-template-columns: repeat(2, 1fr);
	gap: 1rem;
}

.percent-buttons-inner-container > * {
	width: 100%;
	font-family: "Space Mono", monospace;
	font-weight: 700;
	font-size: 1.5rem;
	border-radius: 0.3rem;
}

.percent-buttons-inner-container button {
	border: none;
	background-color: var(--Very-dark-cyan);
	color: white;
	cursor: pointer;
	position: relative;
}

.percent-buttons-inner-container button.active span {
	display: inline-block;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 2.5rem;
}

.percent-buttons-inner-container button:nth-child(3) {
	background-color: var(--Strong-cyan);
	color: var(--Very-dark-cyan);
}

.percent-buttons-inner-container button:nth-child(3):is(:hover),
.percent-buttons-inner-container button.active:nth-child(3) {
	background-color: hsl(172, 67%, 70%);
}

/* result feedback section */
.result-feedback-section {
	background-color: var(--Very-dark-cyan);
	padding: 1.5rem;
	border-radius: 1rem;
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
}

.feedback-container {
	display: flex;
	justify-content: space-between;
}

.feedback-title strong {
	color: white;
}

.feedback-title span {
	color: hsla(0, 0%, 100%, 0.4);
	font-size: 0.8rem;
}

.feedback-amount {
	color: var(--Strong-cyan);
	font-weight: 700;
	font-size: 2rem;
}

.reset-btn {
	text-transform: uppercase;
	font-weight: 700;
	font-size: 1.2rem;
	font-family: "Space Mono", monospace;
	background-color: var(--Strong-cyan);
	color: var(--Very-dark-cyan);
	border: none;
	padding-block: 0.5rem;
	border-radius: 0.3rem;
	cursor: pointer;
}

.reset-btn:hover {
	background-color: hsl(172, 67%, 70%);
}

.reset-btn.active {
	cursor: auto;
	background-color: hsla(172, 67%, 45%, 0.3);
}

/* page footer - credits */

.attribution {
	font-size: 11px;
	text-align: center;
	color: var(--Very-dark-cyan);
}
.attribution a {
	color: var(--Strong-cyan);
}

.attribution a:hover {
	color: var(--Dark-grayish-cyan);
}

/* media breakpoints */
@media (min-width: 640px) and (max-width: 821px) {
	/* page main sectiion */
	.main-section-container {
		max-width: none;
		margin-inline: 2rem;
	}

	/* input section */
	.custom-percent-input-container .error-message {
		top: 42.25px;
	}

	.number-of-people-input-container .error-message {
		top: 44.92px;
	}

	/* form inputs section */
	.form-inner-container {
		display: grid;
		grid-template-rows: repeat(2, 1fr);
		grid-template-columns: repeat(2, 1fr);
	}

	.percent-buttons-container {
		grid-row: 1 / span 2;
		grid-column: 2 / span 1;
	}

	.percent-buttons-container .number-input {
		font-size: min(2.5vw + 0.1rem, 1.5rem);
	}

	/* results feedback section */
	.result-feedback-section {
		display: grid;
		grid-template-rows: repeat(2, 1fr);
		grid-template-columns: repeat(2, 1fr);
		column-gap: calc(7.5vw + 0.1rem);
	}

	.reset-btn {
		grid-column: 1 / span 2;
		/* max-width: 287px; */
		justify-self: center;
		width: 17.94rem;
	}
}

@media (min-width: 821px) {
	/* page main section */
	main {
		padding-inline: 2rem;
	}

	.main-section-container {
		flex-direction: row;
		min-width: min(100%, 950px);
		max-width: 950px;
		padding: 2rem;
	}

	.main-section-container > * {
		flex: 1;
	}

	/* result feedback section */
	.result-feedback-section {
		padding: 2rem;
		gap: 2.5rem;
		justify-content: flex-start;
	}

	.feedback-container {
		align-items: center;
	}

	.feedback-amount {
		font-size: 3rem;
	}

	.reset-btn {
		margin-top: auto;
	}
}
